In [1]:
import numpy as np 
import pandas as pd

In [2]:
train = pd.read_csv('C:/Users/User/Desktop/train.csv')
test = pd.read_csv('C:/Users/User/Desktop/test.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
print('Total number of passangers in the training data...', len(train))
print('Number of passangers in the training data who survived...', len(train[train['Survived'] == 1]))

Total number of passangers in the training data... 891
Number of passangers in the training data who survived... 342

In [6]:
print('% of men who survived', 100*np.mean(train['Survived'][train['Sex'] == 'male']))
print('% of women who survived', 100*np.mean(train['Survived'][train['Sex'] == 'female']))

% of men who survived 18.890814558058924
% of women who survived 74.20382165605095

In [7]:
print('% of passengers who survived in first class', 100*np.mean(train['Survived'][train['Pclass'] == 1]))
print('% of passengers who survived in third class', 100*np.mean(train['Survived'][train['Pclass'] == 3]))

% of passengers who survived in first class 62.96296296296296
% of passengers who survived in third class 24.236252545824847

In [8]:
print('% of children who survived', 100*np.mean(train['Survived'][train['Age'] < 18]))
print('% of adults who survived', 100*np.mean(train['Survived'][train['Age'] > 18]))

% of children who survived 53.98230088495575
% of adults who survived 38.26086956521739

In [9]:
#Data Pre-processing
train['Sex'] = train['Sex'].apply(lambda x: 1 if x == 'male' else 0)

In [10]:
train['Age'] = train['Age'].fillna(np.mean(train['Age']))
train['Fare'] = train['Fare'].fillna(np.mean(train['Fare']))

In [11]:
train = train[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]

In [12]:
X = train.drop('Survived', axis = 1)
y = train['Survived']

In [14]:
#Predict
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [19]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [20]:
#Evaluate
from sklearn.metrics import accuracy_score
print('Training accuracy...', accuracy_score(y_train, classifier.predict(X_train)))
print('Validation accuracy', accuracy_score(y_test, classifier.predict(X_test)))

Training accuracy... 0.9798657718120806
Validation accuracy 0.7491525423728813

In [24]:
#Improve
classifier = DecisionTreeClassifier(max_depth = 3)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [25]:
print('train score...' , accuracy_score(y_train, classifier.predict(X_train)))
print('test score...', accuracy_score(y_test, classifier.predict(X_test)))

train score... 0.8238255033557047
test score... 0.8203389830508474